.new-expense__control label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;

}
.new-expense__control input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1 px solid #ccc;
    width: 20rem;
    max-width: 100%;

}
.new-expense__action{
    text-align: right;
}




@media only screen and (max-width: 600px) {
    .new-expense__control {
        width: 100%; /* Make the control div full width on smaller screens */
    }

    .new-expense__action {
        text-align: left; /* Adjust alignment for mobile screens */
        margin-top: 1rem; /* Add margin for better spacing */
    }
}