* {
  box-sizing: border-box;
}
html {
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 0;
  background-color: #000;
  display: flex; 
  justify-content: center; 
}
h2 {
  color: white;
}
